<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link th:href= "@{/css/profil.css}" rel="stylesheet" />
</head>
<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">

            <div class="logo-container">
                <img th:src="@{/image/logo sout.PNG}" class="d-block w-100" alt="image" style="width:40px; height:100px;">
                <!--                <span class="logo-text" STYLE="color:#00008B; text-align: center;">ORPHECA</span>-->
            </div>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="home-page" class="nav-link blue">Accueil</a></li>
            <li class="nav-item"><a href="utilisateurs/registration" class="nav-link">Users</a></li>
            <li class="nav-item"><a href="aliments" class="nav-link">Besoins</a></li>
            <li class="nav-item"><a href="besoins" class="nav-link">Necessite</a></li>
            <li class="nav-item"><a href="appointment" class="nav-link">Rendez-vous </a></li>
            <li class="nav-item"><a href="#" class="nav-link">Forum</a></li>
        </ul>
        <!--        <div class="btn-group" role="group" aria-label="Basic example">-->
        <!--            <li><a href="Login" class="btn btn-primary" style="margin-left:50px;">Login In</a></li>-->
        <!--            &lt;!&ndash;            <button type="button" class="btn btn-primary">Sign-up</button>&ndash;&gt;-->
        <!--            </ul>-->
        <!--        </div>-->
    </header>
</div>


<body>
<style>
    body{
    background: rgba(0, 0, 0, 0.5) url("/image/profil5.jpg");
    width:100%;
    margin:0;
    background-blend-mode:darken;
    background-position:center;
    background-size:cover;
    }
</style>

<!--<div class="container login-container" style="background-color:#ADD8E6;background-size:cover;wi;">-->
<!--    <div class="col-md-6 ads" style="; padding: 20px;text-align: center;">-->
<!--        <img th:src="@{/image/profil1.webp}" alt="image">-->
<!--    </div>-->

<!--    <div class="row">-->

<!--        <div class="col-md-6 login-form" style="margin-:500px;">-->
            <h3 style="color:#ffffff;text-align: center;">VOTRE PROFIL</h3>
            <div class="container">
            <form >

                <div class="form-group">
                    <input type="text" class="form-control" name="Type_donateur" placeholder="Type_donateur"  style="border: 1px solid #800080;">
                </div>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="Telephone" placeholder="Telephone"  style="border: 1px solid #800080;">
                </div>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="Adresse" placeholder="Adresse"  style="border: 1px solid #800080;">
                </div>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="Profession" placeholder="Profession"  style="border: 1px solid #800080;">
                </div>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="Quantite" placeholder="Quantite"  style="border: 1px solid #800080;">
                </div>
                <br>

                <div class="form-group">
                    <input type="text" class="form-control" name="Interet" placeholder="Interet"  style="border: 1px solid #800080;">
                </div>
                <br>
                <div class="btn-group" role="group" aria-label="Basic example" style="justify-content:center; margin-left:100px;">
                    <button type="button" class="btn btn-primary">AJOUTER</button>
                    <button type="button" class="btn btn-primary">MODIFIER</button>
                </div>
                <br>
                <br>

                                </form>

                            </div>
                        </div>
                    </div>
                    </body>
                    </html>




















                    <!--<style>-->
<!--body{-->
<!--background-image: url("/image/iconehome.webp");-->
<!--background-size:cover;-->
<!--}-->
<!--</style>-->

<!--<div class="card container col-md-6 flex custom-card" style="border-raduis:20px; margin-top: 10px; background-color:transparent; border:none; width:40%;">-->

<!--    <form class="card-body"  >-->
<!--        <div class="text-center">-->
<!--        <h2 style="color :darkviolet;">VOTRE PROFIL</h2>-->
<!--        </div>-->

<!--        <div class="mb-3 mb-3">-->
<!--            <label for="Nom" class="form-label" style="color :#800080;">Type_donateur</label>-->
<!--            <input type="text"  id="Nom" autofocus="autofocus" class="form-control" required name="Type_donateur" style="border: 1px solid #800080;">-->
<!--        </div>-->

<!--        <div class="mb-3 ">-->
<!--            <label for="Prenom" class="form-label" style="color :#800080;">Telephone</label>-->
<!--            <input type="text"  id="Prenom" autofocus="autofocus" class="form-control" required name="Telephone" style="border: 1px solid #800080;">-->
<!--        </div>-->

<!--        <div class="mb-3 ">-->
<!--            <label for="Email" class="form-label" style="color :#800080;"> Adresse</label>-->
<!--            <input type="email"  id="Email" autofocus="autofocus" class="form-control" required name="Adresse" style="border: 1px solid #800080;">-->

<!--        </div>-->

<!--        <div class="mb-3 ">-->
<!--            <label for="Mot de passe" class="form-label" style="color :#800080;">Profession</label>-->
<!--            <input type="password"  id="Mot de passe" autofocus="autofocus" class="form-control" required name="Profession" style="border: 1px solid #800080;">-->
<!--        </div>-->

<!--        <div class="mb-3 ">-->
<!--            <label for="Mot de passe" class="form-label" style="color :#800080;">Quantite</label>-->
<!--            <input type="text"  id="quatite" autofocus="autofocus" class="form-control" required name="Quantite" style="border: 1px solid #800080;">-->
<!--        </div>-->

<!--        <div class="mb-3 ">-->
<!--            <label for="Mot de passe" class="form-label" style="color :#800080;">Interet</label>-->
<!--            <input type="text"  id="interet" autofocus="autofocus" class="form-control" required name="Interet" style="border: 1px solid #800080;">-->
<!--        </div>-->

<!--    </form>-->

<!--    <div class="btn-group" role="group" aria-label="Basic example" style="justify-content:center; margin-left:100px;">-->
<!--        <button type="button" class="btn btn-primary">AJOUTER</button>-->
<!--        <button type="button" class="btn btn-primary">MODIFIER</button>-->
<!--    </div>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->