<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link th:href= "@{/css/forum.css}" rel="stylesheet" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">

            <div class="logo-container">
                <img th:src="@{/image/logo sout.PNG}" class="d-block w-100" alt="image" style="width:40px; height:100px;">
                <!--                <span class="logo-text" STYLE="color:#00008B; text-align: center;">ORPHECA</span>-->
            </div>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="home-page" class="nav-link px-2 link-secondary">Accueil</a></li>
            <li class="nav-item"><a href="utilisateurs/registration" class="nav-link">Users</a></li>
            <li class="nav-item"><a href="aliments" class="nav-link">Besoins</a></li>
            <li class="nav-item"><a href="besoins" class="nav-link">Necessite</a></li>
            <li class="nav-item"><a href="appointment" class="nav-link">Rendez-vous </a></li>
            <li class="nav-item"><a href="forum" class="nav-link">Forum</a></li>
        </ul>
        <div class="btn-group" role="group" aria-label="Basic example">
            <li><a href="Login" class="btn btn-primary" style="margin-left:50px;">Login In</a></li>
            <!--            <button type="button" class="btn btn-primary">Sign-up</button>-->
            </ul>
        </div>
    </header>
</div>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="chat-list-box">
                    <div class="head-box">

                        <ul class="list-inline text-left d-inline-block float-left">
                            <li>  <img th:src="@{/image/logo sout.PNG}" class="d-block w-100" alt="image" style="width:40px; height:100px;"> </li>
                        </ul>
                        <br>
                        <div class="search-bar">
                            <form class="search-form d-flex align-items-left" method="POST" action="#">
                                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                            </form>
                        </div>
                    </div>


                    <div class="chat-person-list">
                        <ul class="list-inline">
                            <li> <a href="#" class="flip"> <img th:src="@{/image/logo sout.PNG}" alt="image"> <span> Leonie</span> <span class="chat-time">12:00 Am</span> </a> </li>
                            <li> <a href="#" class="flip"> <img th:src="@{/image/logo sout.PNG}" alt="image"> <span> Marcelle </span> <span class="chat-time">11:45 Pm</span> </a> </li>
                            <li> <a href="#" class="flip"> <img th:src="@{/image/logo sout.PNG}" alt="image"> <span> Marcelle</span>  <span class="chat-time">12:15 Pm</span> </a> </li>
                            <li> <a href="#" class="flip"> <img th:src="@{/image/logo sout.PNG}" alt="image"> <span> Andy </span>  <span class="chat-time">09:10 Am</span> </a> </li>
                            <li> <a href="#" class="flip"> <img th:src="@{/image/logo sout.PNG}" alt="image"> <span> Ange </span>  <span class="chat-time">02:00 Pm</span> </a> </li>
                            <li> <a href="#" class="flip"> <img th:src="@{/image/logo sout.PNG}" alt="image"> <span> Christelle </span>  <span class="chat-time">08:00 Am</span> </a> </li>
                        </ul>
                    </div>

                </div>
            </div> <!-- col-md-4 closed -->
            <div class="col-md-8">
                <div class="message-box">
                    <div class="head-box-1">

                        <ul class="msg-box list-inline text-left d-inline-block float-left">
                            <li> <i class="fas fa-arrow-left" id="back"></i> </li>
                            <li> <img th:src="@{/image/logo sout.PNG}" alt="image" width="40px"> <span> Leonie </span> <br> <small class="timee"> 12:45 Pm </small> </li>
                        </ul>

                        <ul class="flat-icon list-inline text-right d-inline-block float-right">
                            <li> <a href="#"> <i class="fas fa-video"></i> </a> </li>
                            <li> <a href="#"> <i class="fas fa-camera"></i> </a> </li>
                            <li>
                                <a href="#" id="dset"> <i class="fas fa-ellipsis-v"></i> </a>
                                <div class="setting-drop">
                                    <ul class="list-inline">
                                        <li> <a href="#"> My Profile</a> </li>
                                        <li> <a href="#"> Setting </a> </li>
                                        <li> <a href="#"> Privacy Policy </a> </li>
                                        <li> <a href="#"> Hidden chat  </a> </li>
                                        <li> <a href="#"> Logout </a> </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>

                    <div class="msg_history">
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Hi, How are you ?</p>
                                    <span class="time_date"> 11:01 AM    |    June 9</span></div>
                            </div>
                        </div>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>Hello, i am fine thankyou, what about you ?</p>
                                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>I am also good thankyou!</p>
                                    <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                            </div>
                        </div>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p> ok </p>
                                <span class="time_date"> 11:01 AM    |    Today</span> </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p> What's going on ?</p>
                                    <span class="time_date"> 11:01 AM    |    Today</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="send-message">
                        <form action="" method="">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                    <button class="btn btn-success btn-sm" id="btn-chat">
                        Send</button>
                </span>
                            </div>

                        </form>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>

<body>

</body>
</html>